<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.haue.scholarship.mapper.StudentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.edu.haue.scholarship.entity.Student">
        <id column="student_id" property="studentId"/>
        <result column="name" property="name"/>
        <result column="sex" property="sex"/>
        <result column="unit_id" property="unitId"/>
        <result column="password" property="password"/>
        <result column="clazz" property="clazz"/>
        <result column="speciality" property="speciality"/>
    </resultMap>

    <select id="findAllByYearUnitId" parameterType="java.lang.Integer"
            resultType="cn.edu.haue.scholarship.entity.Student">
        SELECT student_id, student.`name`, student.sex, A.`name` AS clazz, B.`name` AS speciality
        FROM student
                 JOIN unit A ON A.id = student.unit_id
                 JOIN unit B ON B.id = A.pid
                 JOIN unit C ON C.id = B.pid
        WHERE C.id = #{unitId,jdbcType=INTEGER}
    </select>
    <select id="findStudentById" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT student_id, student.`name`, student.sex, A.`name` AS clazz, B.`name` AS speciality
        FROM student
                 JOIN unit A ON A.id = student.unit_id
                 JOIN unit B ON B.id = A.pid
                 JOIN unit C ON C.id = B.pid
        WHERE student.student_id=#{id,jdbcType=CHAR}
    </select>

</mapper>
